{% extends 'core/base.html' %}
{% load static %}
{% block title %}Jugadores{% endblock %}
{% block content %}
<main role="main">
  <div class="container-players">

    <!-- Formulario de Filtro -->
    <form class="container-filter" method="get" class="filter-form">
    <h3 class="subtitle no-margin">Filtros</h3>
      <div class="filter-inputs">
        <label for="position">Posición:</label>
        <select name="position" id="position">
          <option value="">--Todas--</option>
          {% for value, display in positions %}
            <option value="{{ value }}">{{ display }}</option>
          {% endfor %}
        </select>
            
        <label for="agent">Agente:</label>
        <select name="agent" id="agent">
          <option value="">--Todos--</option>
          {% for agent in agents %}
            <option value="{{ agent.id }}">{{ agent.first_name }} {{ agent.last_name }}</option>
          {% endfor %}
        </select>
        <label for="height">Altura (cm):</label>
        <input type="text" name="height" id="height" placeholder="Altura">
        <label for="birthday_year">Clase:</label>
        <select name="birthday_year" id="birthday_year">
          <option value="">--Todos--</option>
          {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
          {% endfor %}
        </select>
      </div>
      <button class="button min" type="submit">Filtrar</button>
    </form>
      {% load static %}
<div class="scroll-container">
    <div class="list-players">
    {% for player in player_list %}
        <div class="card-players">
            {% if player.avatar %}
                <img src="{{player.avatar.url}}"class="list-avatar-players" >
            {% else %}
                <img src="{% static 'registration/img/no-avatar.jpg' %}" class="list-avatar-players">
            {% endif %}
            <b>{{player.first_name}} {{player.last_name}}</b> 
            <div class="player-label">
                <label><b>Posición:</b></label> 
                {{player.get_position_display}}
            </div>
            <div class="player-label">
                <label><b>Altura:</b></label>
                {{player.height}}
            </div>
            <div class="player-label">
                <label><b>Clase:</b></label>
                {{player.birthday.year}}
            </div>
            <div class="player-label">
                <label><b>Agente:</b></label>
                <a class="links" href="">
                {{player.agent.user.last_name}}
                </a>
            </div>
            <div class="player-label">
                <label><b>Estado:</b></label>
                {{player.get_status_display}}
            </div>
        </div>
    {% endfor %}
    </div>
</div>  
  </div>
</main>
{% endblock %}
