{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{profile.user}}{% endblock %}
{% block content %}
<main role="main">
<div class="wrapper-profile-detail">
  <form class="container-profile-detail" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="wrap-profile-info">
      <div class="container-profile-avatar">
        <!-- Previa del avatar -->
        <div class="wrap-avatar">
          {% if profile.avatar %}
            <img src="{{profile.avatar.url}}" class="avatar">
          {% else %}
            <img src="{% static 'registration/img/no-avatar.jpg' %}" class="avatar">
          {% endif %}
        </div>
      </div>
        <!-- Perfil del Agente -->
      <div class="profile-detail-form">
        <h3 class="title profile-detail-title">{{profile.user.first_name}} {{profile.user.last_name}}</h3>
        <div class="profile-detail-label">
          <label>Teléfono:</label>
          {{profile.phone_number}} 
        </div>
        <div class="profile-detail-label">
          <label>Email:</label>
          {{profile.user.email}}
        </div>
        <div class="profile-detail-label">
          <label>País:</label>
          {{profile.country}} 
        </div>
        <div class="profile-detail-label">
          <label>Biografía:</label>
          {{profile.bio}}
        </div>
      </div>
    </div>

    <!-- Lista de jugadores -->
    <div>
      <h3 class="subtitle"> Jugadores: </h3>
      {% include 'players/player_card.html'%}
    </div>
  </form>
  </div>
</main>
{% endblock %}