{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    {% if profile %}
        {{ profile.user }}
    {% elif player %}
        {{ player.first_name }} {{ player.last_name }}
    {% endif %}
{% endblock %}
{% block content %}
    <form class="container-profile-detail"
          action=""
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="wrap-profile-info">
            <div class="container-profile-avatar">
                <!-- Previa del avatar -->
                <div class="wrap-avatar">
                    {% if profile and profile.avatar %}
                        <img src="{{ profile.avatar.url }}" class="avatar">
                    {% elif player and player.avatar %}
                        <img src="{{ player.avatar.url }}" class="avatar">
                    {% else %}
                        <img src="{% static 'registration/img/no-avatar.jpg' %}" class="avatar">
                    {% endif %}
                </div>
                {% if profile %}
                    <div class="profile-detail-links">
                        {% if profile.ig_link %}
                            <a href="{{ profile.ig_link }}" target="new"><i class="fa-brands fa-instagram fa-2xl"></i></a>
                        {% endif %}
                        {% if profile.x_link %}
                            <a href="{{ profile.x_link }}" target="new"><i class="fa-brands fa-x-twitter fa-2xl"></i></a>
                        {% endif %}
                        {% if profile.ln_link %}
                            <a href="{{ profile.ln_link }}" target="new"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a>
                        {% endif %}
                        {% if profile.fbk_link %}
                            <a href="{{ profile.fbk_link }}" target="new"><i class="fa-brands fa-facebook-f fa-2xl"></i></a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="profile-detail-form">
                <h3 class="title profile-detail-title">
                    {% if profile %}
                        {{ profile.user.first_name }} {{ profile.user.last_name }}
                    {% elif player %}
                        {{ player.first_name }} {{ player.last_name }}
                    {% endif %}
                </h3>
                <!-- Perfil del Agente -->
                {% if profile %}
                    <div class="profile-detail-label">
                        <label>Teléfono:</label>
                        {{ profile.phone_number }}
                    </div>
                    <div class="profile-detail-label">
                        <label>Email:</label>
                        {{ profile.user.email }}
                    </div>
                    <div class="profile-detail-label">
                        <label>País:</label>
                        {{ profile.country }}
                    </div>
                    <div class="profile-detail-label">
                        <label>Biografía:</label>
                        {{ profile.bio }}
                    </div>
                {% endif %}
                <!-- Perfil del Jugador -->
                {% if player %}
                    <div class="profile-detail-label">
                        <label>Nacimiento:</label>
                        {{ player.birthday }}
                    </div>
                    <div class="profile-detail-label">
                        <label>Altura:</label>
                        {{ player.height }} m
                    </div>
                    <div class="profile-detail-label">
                        <label>Peso:</label>
                        {{ player.weight }} kg
                    </div>
                    <div class="profile-detail-label">
                        <label>Posición:</label>
                        {{ player.get_position_display }}
                    </div>
                    <div class="profile-detail-label">
                        <label>Estado:</label>
                        {{ player.get_status_display }}
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- Lista de jugadores -->
        {% if profile %}
            <div class="profile-detail-info">
                <h3 class="subtitle">Jugadores:</h3>
                {% include 'players/player_card.html' %}
            </div>
        {% endif %}
        <div class="profile-detail-info-wrapper">
            {% if player %}
                <div class="profile-detail-info">
                    <h3 class="subtitle">Equipos:</h3>
                </div>
                <div class="profile-detail-info">
                    <h3 class="subtitle">Highlights:</h3>
                    {% if player.yt_link %}
                        <div class="video-container">
                            <iframe width="560"
                                    height="315"
                                    src="{{ player.youtube_embed }}"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}
