{% extends 'core/base.html' %}
{% load static %}
{% block title %}Iniciar sesión{% endblock %}
{% block content %}
<main role="main">
    <form class="container-form" action="" method="post">
      {% csrf_token %}
      <h3 class="title">Iniciar sesión</h3>
      {% if form.non_field_errors %}
        <p class="errorlist">Usuario o contraseña incorrectos, prueba de nuevo.</p>
      {% endif %}
      <input type="text" name="username" autofocus maxlength="254" required id="id_username" class="form-control" placeholder="Nombre de usuario"/>
      <input type="password" name="password" required id="id_password" class="form-control" placeholder="Contraseña"/>
      {% if 'register' in request.GET %}
        <p class="confirm">Se ha registrado correctamente!</p>
      {% endif %}
      <div class="confirm-form">
        <input type="submit" class="button" value="Iniciar sesión">
        <a class="links" href="{% url 'password_reset'%}" ><p>¿Has olvidado la contraseña?</p></a>
      </div>
    </form>
</main>
{% endblock %}