{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecimiento de contraseña completado{% endblock %}
{% block content %}
  <main role="main">
    <div class="container-register">
      <h3 class="title">Restablecimiento de contraseña completado</h3>
      <p>Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
      <div class="confirm-register">
        <p>
          <a class="links" href="{% url 'login' %}">Iniciar sesión</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}
