{% extends 'core/base.html' %}
{% load static %}
{% block title %}Cambio de contraseña{% endblock %}
{% block content %}
<main role="main">
        <form class="container-form" action="" method="post">{% csrf_token %}
            <h3 class="title">Cambio de contraseña</h3>
            <p>Por favor, introduzca su contraseña antigua por seguridad, y después introduzca dos veces la nueva contraseña para verificar que la ha escrito correctamente.</p>
            <div class="forms-inputs">
            {{form.old_password.errors}}
            <input type="password" name="old_password" autofocus="" required="" id="id_old_password"class="form-control" placeholder="Contraseña antigua">
            {{form.new_password1.errors}}
            <input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Contraseña nueva">
            {{form.new_password2.errors}}
            <input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Contraseña nueva (confirmación)">
            </div>
            <div class="confirm-buttons">
            <p><input type="submit" class="button min" value="Cambiar mi contraseña"></p>
            </div>
        </form>
</main>
{% endblock %}